@import url(http://fonts.googleapis.com/css?family=Lato:700,900);

body { background-color: #0e83cd }

h1.big
{
  font-size: 92px;
  width: 100%;
  color:white;
  font-family: 'Lato', sans-serif;
  text-align: left;
  margin-left: 5%;
}

h2 {
  margin: 0 auto;
  width: 400px;
  font-size: 36px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: whiteSmoke;
}

#container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#container div { position: absolute; }

#liquid {
  background-color: #edaf32;
  border: 2px solid #edaf32;
  bottom: 0;
  height: 0px;
  overflow: hidden;
  width: 100%;
}

#liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 110%;
  left: -40px;
  position: absolute;
  -ms-transform: rotate(30deg);
      transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 220px;
}

#liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

@-webkit-keyframes bubble {
  0% { bottom: 0; }

   50% {
     background-color: rgba(255, 255, 255, 0.2);
      bottom: 80px;
   }

   100% {
     background-color: rgba(255, 255, 255, 0);
      bottom: 160px;
   }
}

.bubble1 {
  left: 10%;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 1000ms;
}

.bubble2 {
  left: 20%;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 1100ms;
}

.bubble3 {
  left: 50%;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 1300ms;
}

.bubble4 {
  left: 70%;
  -webkit-animation-delay: 1100ms;
  -webkit-animation-duration: 700ms;
}

.bubble5 {
  left: 90%;
  -webkit-animation-delay: 1300ms;
  -webkit-animation-duration: 800ms;
}

/* Foam */

.beer-foam {
  z-index: 998;
  position: absolute;
  bottom: -80px;
  left: -10%;
  right: -10%;
  width: 120%;
  margin: 0 auto;
  /*background: url(./images/foam.svg);*/
}

.beer-foam img {
  min-width:1500px;
  max-width: none;
  width: 100%px;
  height: 100%;
}
.beer-foam h3 {
  position: relative;
  color: #130f30;
  top: -125px;
  text-align: center;
}


/*
 Beer Logo and Data in Foam
*/
img.logo{
  display: block;
  position: relative;
  top: 15px;
  max-height: 160px;
  margin-left: auto;
  margin-right: auto
}

table {
    width: 80%;
    left:10%;
    border: 0px solid black;
    position: relative;
}

tr,td
{
      border: 0px solid black;
}

/* Drunk Text */

.animated {
  -webkit-animation-fill-mode:both;
          animation-fill-mode:both;
  
  -webkit-animation-duration:5s;
          animation-duration:5s;
  
  -webkit-animation-delay:3.5s;
          animation-delay:3.5s;
}


.animated.drunk {
  -webkit-animation-duration:2s;
          animation-duration:2s;
}

@-webkit-keyframes drunk {
  0% { 
    -webkit-transform: rotate(0); 
    -webkit-transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out; 
  }
  
  20%, 60% { 
    -webkit-transform: rotate(80deg); 
    -webkit-transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out; 
  } 
  40% { 
    -webkit-transform: rotate(60deg); 
    -webkit-transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out; 
  } 
  
  80% { 
    -webkit-transform: rotate(60deg) translateY(0);  
    -webkit-transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out;
    opacity: 1;
  } 
  
  100% {
    -webkit-transform: translateY(700px); 
    opacity: 0; 
  }
}

@keyframes drunk {
  0% { 
    -webkit-transform: rotate(0); 
            transform: rotate(0); 
    -webkit-transform-origin: top left; 
            transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out; 
            animation-timing-function: ease-in-out; 
  }
  
  20%, 60% { 
    -webkit-transform: rotate(80deg); 
            transform: rotate(80deg); 
    -webkit-transform-origin: top left; 
            transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out; 
            animation-timing-function: ease-in-out; 
  }
  
  40% { 
    -webkit-transform: rotate(60deg); 
            transform: rotate(60deg); 
    -webkit-transform-origin: top left; 
            transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out; 
            animation-timing-function: ease-in-out; 
  }
  
  80% { 
    -webkit-transform: rotate(60deg) translateY(0); 
            transform: rotate(60deg) translateY(0); 
    opacity: 1; -webkit-transform-origin: top left; transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out; 
            animation-timing-function: ease-in-out; 
  } 
  100% { 
    -webkit-transform: translateY(700px); 
            transform: translateY(700px); 
    opacity: 0; 
  }
}

.drunk {
  -webkit-animation-name: drunk;
  animation-name: drunk;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
